.projects-projects {
  background-color: #e0eff8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.projects-container {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 83%;
  margin: auto;
}

.projects-heading {
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-style: line;
  text-underline-offset: 10px;
}