* {
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #000000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.projects-projects {
	background-color: #e0eff8;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	/* border: 1px solid red */
}

.projects-container {
	display: flex;
	flex-direction: column;
	width: 83%;
	margin: auto;
	margin-top: 20px;
}

.projects-heading {
	text-align: center;
	font-weight: 500;
	font-size: xx-large;
	text-decoration: underline;
	text-decoration-color: teal;
	text-decoration-style: line;
	text-underline-offset: 10px;
	padding: 14px;
}


/* Small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
	.projects-projects {
		height: 90vh;
		display: flex;
		align-items: center;
	}
}