.github-main {
  border: 1px solid red;
  background-color: #e0eff8;
 padding: 2px 0px 22px 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 5px;

}

.github-heading {
 font-size: 40px;
}

.github-stats {
  border: 1px solid red;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 90%;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
 .github-calender {
  width: 90%;
  height: auto;
 }

 .github-stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
 }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
 .github-calender {
  width: 90%;
  height: auto;
 }

 .github-stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
 }
}



.text-divider-git {

  width: 80%;
  margin: 2rem auto 100px auto;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
}

.text-divider-git span {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 1rem;
}

.text-divider-git::before, .text-divider-git::after {

  content: '';
  display: inline-block;
  height: 1px;
  width: 20px;
  flex-grow: 1;
  background: hsl(240, 4%, 90%);
  vertical-align: middle;
}