.skills-main {
 background-color:white;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}

.skillsWrapper {
  margin-top: 0;
 width: 90%;
 margin: auto;
 text-align: center;
 display: grid;
 grid-template-columns: repeat(2, auto);

}

.skills-heading {
 color:black;
 font-size: 40px;
 margin-bottom: 10px;
}

.skillsTechnologiesDiv {

 width: 100%;
 margin: auto;
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: repeat(4, auto);
 gap: 5px;
 padding: 10px 0px;
 
}


.skillsToolsDiv {
 border: 0px solid yellow;
 margin: auto;
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: repeat(4, auto);
 gap: 20px;
 padding: 20px 0px;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1023px) {
 .skillsWrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);

 }

 .skillsTechnologiesDiv {
  grid-template-columns: repeat(3, auto);
 }


 .skillsToolsDiv {
  grid-template-columns: repeat(3, auto);
 }
}

/* small screens */

@media all and (min-width: 1024px) and (max-width: 1470px) {
 .skillsWrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);

 }

 .skillsTechnologiesDiv {
  grid-template-columns: repeat(4, auto);
 }



 .skillsToolsDiv {
  grid-template-columns: repeat(4, auto);
 }
}

@media all and (min-width: 280px) and (max-width: 767px) {
 .skillsWrapper {

  display: grid;
  grid-template-columns: repeat(1, auto);
 }

 .skillsTechnologiesDiv {
  grid-template-columns: repeat(2, auto);
 }

 .skillsProficienciesDiv {
  grid-template-columns: repeat(2, auto);
 }

 .skillsToolsDiv {
  grid-template-columns: repeat(2, auto);
 }
}

.text-divider-skill {

  width: 80%;
  margin: 2rem auto 10px auto;
  display: flex;
  text-align: center;
  align-items: center;
  color:black;
}

.text-divider-skill span {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 1rem;
}

.text-divider-skill::before, .text-divider-skill::after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 20px;
  flex-grow: 1;
  background: black;
  vertical-align: middle;
}