.home-main {
height: 100vh;
 padding: 90px 0px 0px 0px;
}

.homeWrapper {
 width: 80%;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.homeLeft {
 width: 60%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.homeLeft > div:nth-child(1) {
 width: 80%;
 font-size: 80px;
 font-style: normal;
 font-weight: 1000;

 color: white;
 background: #2578c2;
 background: repeating-linear-gradient(to top left, #161617 0%, #9b9b9b 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.homeLeft > div:nth-child(2) {
    margin-left: 13px;
 font-size: 20px;
 font-style: normal;
 line-height: 25px;
 color: black;
 
}

.homeLeft a {
 width: 24%;
}

.home-resume {
    background: repeating-linear-gradient(to top left, #161617 0%, #9b9b9b 100%);
    margin-left: 13px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 color: white;
 padding: 5px;
 border-radius: 10px;
 font-size: 18px;
 font-style: normal;
 cursor: pointer;
}

.home-resume:hover {
 padding: 8px;
 background: linear-gradient(to right, #000000, #434343);
 -moz-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
 color: white;
}

.homeright {
 width: 500px;
 border-radius: 50%;
}

.home-img {
 width: 60%;
 display: block;
 margin: auto;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
 .homeLeft > div:nth-child(1) {
  font-size: 40px;
 }

 .homeright {
  width: 300px;
  /* height: 300px; */
 }

 .home-resume {
  width: 130px;
 }

 .homeLeft a {
  width: min-content;
 }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
 .home-main {
  padding: 100px 0px 10px 0px;
 }

 .homeWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
 }

 .homeLeft {
  width: 100%;
  padding: 30px;
 }

 .homeright {
  width: 300px;
  /* height: 300px; */
 }

 .homeLeft > div:nth-child(1) {
  font-size: 40px;
 }

 .home-resume {
  width: 130px;
 }

 .homeLeft a {
  width: min-content;
 }
}
