
.home-main {
    background-color: #1a1a1a;
 background-image: url(https://assets.website-files.com/6319f69c5ef0f35ae3db6df0/631eeb7aaf19c44331c49ab0_Gradient%20Bg.webp);
 padding: 150px 0px 100px 0px;
}

.homeWrapper {
 width: 80%;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.homeLeft {
 width: 45%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.homeLeft > div:nth-child(1) {
 width: 80%;
 font-size: 80px;
 font-style: normal;
 font-weight: 1000;
 color: white;
 background: #2578c2;
 background: repeating-linear-gradient(to top left, #2578c2 0%, #43b364 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.homeLeft > div:nth-child(2) {
 font-size: 20px;
 font-style: normal;
 line-height: 25px;
 color: white;
}

.homeLeft a {
 width: 24%;
}

.home-resume {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: white;
 text-align: center;
 color: #1a1a1a;
 padding: 10px;
 border-radius: 10px;
 font-size: 20px;
 font-style: normal;
 cursor: pointer;
}

.home-resume:hover {
 background: repeating-linear-gradient(
  rgba(181, 68, 63, 1) 0%,
  rgba(176, 66, 70, 1) 60%,
  rgb(116, 43, 111) 100%
 );
 -moz-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
 color: white;
}

.homeright {
 width: 500px;
 /* height: 500px; */
 border: 1px solid #1a1a1a;
 border-radius: 50%;
}

.home-img {
 width: 100%;
 /* height: 100%; */
 display: block;
 margin: auto;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
 .homeLeft > div:nth-child(1) {
  font-size: 40px;
 }

 .homeright {
  width: 300px;
  /* height: 300px; */
 }

 .home-resume {
  width: 130px;
 }

 .homeLeft a {
  width: min-content;
 }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
 .home-main {
  padding: 100px 0px 10px 0px;
 }

 .homeWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
 }

 .homeLeft {
  width: 100%;
  padding: 30px;
 }

 .homeright {
  width: 300px;
  /* height: 300px; */
 }

 .homeLeft > div:nth-child(1) {
  font-size: 40px;
 }

 .home-resume {
  width: 130px;
 }

 .homeLeft a {
  width: min-content;
 }
}
