.navbar {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 100;
  font-size: 18px;
  height: 50px;
  color: white;
}

.wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.wrapperLeft img {
  margin-left: 40px;
  width: 80px;
  cursor: pointer;
}
.wrapperLeft img:hover {
  padding: 3px;
  border-radius: 8px;
  background: linear-gradient(to right, #000000, #434343);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapperRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 88%;
}
.wrapperRight > div {
  border-radius: 5px;
  transition: all 0.5s;
}
.wrapperRight > div:hover {
  border-radius: 5px;
}
.navbar-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-style: normal;
  cursor: pointer;
}

.navbar-resume:hover {
  color: white;
  padding: 8px;
  background: linear-gradient(to right, #000000, #434343);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapperRight a:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(to right, #000000, #434343);
}

.responce {
  display: none;
}


/*               medium size               */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .wrapperRight {
    /* display: none; */
  }

  .responce {
    margin-right: 40px;
    display: block;
    font-size: 30px;
    
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #6a6a6a;
  }

  .navbar-resume {
    background-color: #1a1a1a;
    color: white;
  }

  .navbar-resume:hover {
    color: white;
    padding: 8px;
    background: linear-gradient(to right, #000000, #434343);
  }
}
@media all and (min-width: 280px) and (max-width: 767px) {
  .wrapperRight {
    display: none;
  }

  .responce {
    margin-right: 40px;
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #6a6a6a;
  }

  .navbar-resume {
    background-color: #1a1a1a;
    color: white;
  }
  .navbar-resume:hover {
    color: white;
    padding: 8px;
    background: linear-gradient(to right, #000000, #434343);
  }
}
